@import 'global';

.ScheduleMenu {
    height: 420px;
    background-color: $light-orange;
    border-radius: $border-radius $border-radius 0px 0px;
    margin: 0px $global-screen-padding;
    padding: $border-radius/2 $border-radius/2;
}

.PsychologistCard{
    height: 100px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.PhotoArea {
    display: block;
    width: 25%;
}

$photo-width: 80px;
$photo-height: 90px;

.ImagePortrait {
    display: block;
    width: $photo-width;
    height: $photo-height;

    border: $white-background;
    background-color: $light-grey;
    
    border-radius: 5px;
    object-fit: fill;
    padding: 2px;

    img {
        width: $photo-width;
        height: $photo-height;
        border-radius: 5px;
    }
}

.CardContent {
    width: 75%;
    display: flex;
    flex-direction: column;
    display: block;
    font-family: $font;
    color: $font-color-dark;
    padding-left: 20px;

    h1 {
        font-size: 30px;
        font-size: 5.0vw;
        font-weight: bold;
        margin: 0px 0px 2px 0px;
    }
    p {
        margin: 4px 0px;
        font-weight: normal;
        font-size: 30px;
        font-size: 3.5vw;
    }
}

.ScheduleForm {
    display: block;
}

.DateSelection {
    width: 100%;
    height: 80px;
    padding: 8px 0px;

    position: relative;
    flex-direction: column;
    display: flex;

    p {
        font: $font;
        font-size: $small-font-size;
        position: absolute;
        margin: 0px;
    }
}

.DatePicker {
    position: absolute;
    
    p {
        font: $font;
        font-size: $small-font-size;
        position: absolute;
        margin: 0px;
    }
}

.NormalDatePicker {
    position: absolute;
    width: 100%;
    height: 40px;
    margin: 16px 0px;
}

.CustomDatePicker {
    position: absolute;
    width: 100%;
    height: 40px;
    margin: 8px 0px;

    display: flex;
    flex-direction: row;
}

$custom-picker-date-ratio: 75%;

.CustomDatePickerDate {
    width: $custom-picker-date-ratio;
}

.CustomDatePickerTime {
    width: 100% - $custom-picker-date-ratio;
}

.EmergencyCheckbox {
    position: absolute;
    padding: 8px 0px;
    margin: 8px 0px;
}

.SwapCustomDateButton {
    position: absolute;
    p {
        height: 30px;
    }
}

.ConfirmButton {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
