@import 'global';

.SearchContainer {
    width: 100%;
    background-color: $white-background;
    height: 100px;
    max-height: 100px;
    display: inline-block;
    overflow: visible;
    z-index: 9999;
}

.Search {
    width: 100%;
    align-items: center;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.Dropdown{
    width: 75%;

    float: left;
    display: block;
}

.SearchButton {
    width: 25%;
    height: 100px;
    max-height: 100px;

    float: right;
    display: block;
}

.Menu {
    background-color: $white-background;
    z-index: auto;
}

.MenuOption{
    margin: 5px;
    height: 140px;
    display: flex;
    flex-direction: row;
    background-color: $orange-background;
}

.OptionPhoto {
    display: block;
    width: 25%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.PhotoPlaceholder {
    display: block;
    margin: 10px;
    width: 70px;
    height: 80px;
    border: white;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    background-color: $white-background;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width:100%;
        max-height:100%;
    }
}

.OptionContent {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.ContentInfo {
    display: block;
    font-family: $font;

    h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 5px;
    }
    p {
        margin: 5px;
        font-weight: normal;
        font-size: 15px;
    }
}

.ContentButton {
    width: 100%;
    height: 100px;
    max-height: 100px;
    flex-direction: row-reverse;

    float: right;
    display: flex;
}

.ScheduleMenu {
    margin: 5px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: $orange-background;
}

.ScheduleOptions {
    display: block;
}

.ScheduleButtons {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;
}
