@import "global";

.box {
  display: table;
  font-size: 0.85em;
  word-spacing: 0.01em;
  position: sticky;
  background-color: $default-chatbox;
  color: $chatbox-text-color;
  border-radius: 16px;
  margin: 6px;
  max-width: 400px;
  min-width: 150px;
  padding: 8px 8px 10px 10px;
}

.box-client {
  @extend .box;
  background-color: $client-chatbox;
  left: 100%;
}

.box-server {
  left: 0%;
  @extend .box;
}

.box-server-button {
  right: 100%;
  @extend .box;
  background-color: $color2;
}