@import 'global';

$box-margin: $global-screen-padding;
$textbox-opacity: 0.8;
$text-padding-bottom: 15px;
$title-vertical-padding: 10px;
$inner-text-padding: $border-radius/6.19;

:export {
    TextBoxOpacity: $textbox-opacity;
    BackgroundWhite: $white-background;
}

.ContentContainer {
    font-family: $font;
    display: block;
    background-size: cover;
    width: 100%;
}

.TextBox {
    border-radius: $border-radius 0px 0px $border-radius;
    min-height: 120px;
    
    margin-left: $box-margin;
    padding: 0px $text-margin 0px $text-margin - $box-margin;
    
    background-color: $white-background;
}

.Text {
    display: block;
    text-align: center;
    font-family: $font;
    color: $font-color-dark;
    padding: $inner-text-padding;
    
    h1 {
        margin: 0px;
        padding-top: $title-vertical-padding;
        padding-bottom: $title-vertical-padding;
        font-size: $h1-font-size;
    }

    p {
        text-align: justify;
        padding-bottom: $text-padding-bottom;
        margin: 0px 0px 10px 0px;
        padding: 0px;
        font-size: $text-font-size;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        -moz-font-smoothing: antialiased !important;
        text-rendering: optimizelegibility !important;
        line-height: 1.25em;
        vertical-align: middle;
    }
}
