@import 'global';

$text-margin: $global-screen-padding;
$box-margin: $global-screen-padding/2;
$textbox-opacity: 0.8;
$text-padding-bottom: 15px;
$title-vertical-padding: 10px;

:export {
    TextBoxOpacity: $textbox-opacity;
    BackgroundWhite: $white-background;
    Blue: $blue;
    Orange: $orange;
}

.ContentContainer {
    display: block;
    background-size: cover;
    width: 100%;
}

.TextBox {
    border-radius: 35px 0px 0px 35px;
    min-height: 120px;
    
    margin-left: $box-margin;
    padding-left: $text-margin - $box-margin;
    padding-right: $text-margin;
    padding-bottom: 5px;
    
    background-color: $white-background;
}

.Text {
    display: block;
    text-align: center;
    font-family: $font;

    h2 {
        margin: 0px;
        padding-top: $title-vertical-padding;
        padding-bottom: $title-vertical-padding;
    }
    p {
        margin: 0px;
        text-align: justify;
        padding-bottom: $text-padding-bottom;
    }
}
