@import 'global';

.ContactBox {
    font-size: $small-font-size;
    margin: 0px;
    padding: 0px $global-screen-padding 12px $global-screen-padding;

    h2 {
        font-size: $h2-font-size;
        text-align: center;
        margin: 0px 0px 12px 0px;
    }
    a {
        text-decoration: none;
        mix-blend-mode: difference;
        color:white;
    }
}

.Links {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $font-color-dark;
    
    p {
        font-size: smaller;
        margin: 0px 0px 0px 6px;
    }
    a {
        mix-blend-mode: color-burn;
    }
}

.Contact {
    justify-content: center;
    text-align: center;
    color: $font-color-dark;
    margin: 12px 0px;

    p {
        margin: 6px 0px;
        font-size: $text-font-size;
        line-height: 1.25em;
        text-align: left;
    }

}