@import 'global';

$text-margin: $global-screen-padding + 3%;
$box-margin: $global-screen-padding;
$textbox-opacity: 0.8;
$text-padding-bottom: 15px;
$title-vertical-padding: 10px;
$border-padding-constant: 6.19;

:export {
    TextBoxOpacity: $textbox-opacity;
    BackgroundWhite: $white-background;
    Blue: $blue;
    Orange: $orange;
}

.ContentContainer {
    display: block;
    background-size: cover;
    width: 100%;
}

.TextBox {
    border-radius: $border-radius 0px 0px $border-radius;
    min-height: 120px;
    
    margin-left: $box-margin;
    padding-left: $text-margin - $box-margin;
    padding-right: $text-margin;
    padding-bottom: 5px;
    
    background-color: $white-background;
}

.Text {
    display: block;
    text-align: center;
    font-family: $font;
    color: $font-color-dark;
    padding: $border-radius/$border-padding-constant $border-radius/$border-padding-constant;
    text-shadow: $white-background 0px 0px 1px;
    
    h1 {
        margin: 0px 4px 0px 4px;
        padding-top: $title-vertical-padding;
        padding-bottom: $title-vertical-padding;
        font-size: $h1-font-size;
    }

    p {
        text-align: justify;
        padding-bottom: $text-padding-bottom;
        margin: 0px 0px 10px 4px;
        padding: 2px 0px;
        font-size: $text-font-size;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        -moz-font-smoothing: antialiased !important;
        text-rendering: optimizelegibility !important;
        line-height: 1.25em;
        vertical-align: middle;
    }
}
