@use 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

$blue: #418694;
$orange: #EC790f;
$white-background: #F9F9F9;

$font: Roboto;
:export {
    BackgroundWhite: $white-background;
    Blue:  $blue;
    Orange: $orange;
    Font: $font;
}

$header-font-size: 10px;
$nav-height: 40px;