@import 'global';

.header {
    position: fixed;
    width: 100%;
    height: $nav-height;
    
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    background-color: $white-background;
    font-family: $font;
    font-weight: bold;
    font-size: 10px;
    color: $blue;
}