$color1: #829FD9;
$color2: #027368;
$color3: #BABF2A;
$color4: #8C8303;
$color5: #594302;
$gray: #bdbdbd;
$text-dark: black;
$white: white;

.container {
    margin: 0 auto;
    max-width: 700px;
    height: 100%;
    background-color: $white;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-strecth;
}