@import 'global';

$text-margin: 25px;
$box-margin: 10px;

:export {
    TextBoxOpacity: 0.8;
    BackgroundWhite: $white-background;
    Blue: $blue;
    Orange: $orange;
}

.PageWrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    
    bottom: 0;
    height: 100%;
    background-color: $white-background;
}

.Content {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: $nav-height;
    margin-bottom: $nav-height;
}

.InfoContainer {
    display: block;
    background-size: cover;
    padding-bottom: 20px;
}

.TextBox {
    border-radius: 50px 0px 0px 50px;
    
    margin-left: $box-margin;
    padding-bottom: 5px;
    padding-left: $text-margin - $box-margin;
    padding-right: $text-margin;
    
    background-color: $white-background;
}

.ContainerText {
    display: block;
    text-align: center;
    font-family: $font;
    

    h2 {
        padding-top: 5px;
        margin: 0;
    }
    p {
        text-align: justify;
    }
}
