$color1: #829FD9;
$color2: #027368;
$color3: #BABF2A;
$color4: #8C8303;
$color5: #594302;
$gray: #bdbdbd;
$text-dark: black;
$white: white;


.PageWrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: flex-strecth;
    background-color: whitesmoke;
}

.Content {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.InfoContainer {
    background-size: cover;
    padding-bottom: 10px;
    float: right;
    display: block;
}

.TextBox {
    border-radius: 50px 0px 0px 50px;
    margin-left: 2.5%;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
}

.ContainerText {
    text-align: center;
    display: block;
    font-family: Verdana;
    margin-left: 2.5%;
    margin-right: 5%;

    h2 {
        padding-top: 5px;
        margin: 0;
    }
    p {
        padding: 8px;
        text-align: justify;
    }
}
