@import 'global';

.input {
    background-color: $chat-input-blackground;
    position: fixed;
    display: inline-flex;
    bottom: 0;
    z-index: 2;
    width: 100%;
    max-width: inherit;
    text-align: center;
}

.textinput {
    background-color: $chat-internal-blackground;
    border-radius: 15px;
    height: 15px;
    margin: 10px;
    width: 100%;
    padding: 8px 8px 10px 10px;
    shape-outside: 5px;
}

.send {
    filter: invert(30%);
    margin: auto;
    margin-right: 10px;
    width: 37px;
    height: 37px;
}   