@import 'global';

.navbar {
  max-width: 100%;
  max-height: $nav-height;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  
  background-color: $white-background;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.iconBox {
  display: block;
  float: left;
  font-size: large;
  
}
