@import 'global';

$sharebox-color: grey;
$vertical-spacing: 10px;

.sharebox {
    height: 220px;
    width: 100%;

    padding: $vertical-spacing 0px;
    display: flex;
    flex-direction: column;
    font-family: $font;
    text-align: center;
    background-color: $sharebox-color;

    h1 {
        margin: 0px;
        font-size: 15px;
        text-align: center;
        padding: 0px $global-screen-padding;
    }
}

.ShareButton {
    display: block;
    margin: $vertical-spacing 40px;
    border-radius: 12px;
}
