@import 'global';

$sharebox-height: 300px;
$sharebox-color: grey;
$button-horizontal-margin: 40px;
$button-vertical-margin: 10px;

.sharebox {
    height: $sharebox-height;

    display: flex;
    flex-direction: column;
    font-family: $font;
    text-align: center;
    background-color: $sharebox-color;

    h1 {
        font-size: 15px;
    }
}

.ShareButton {
    display: block;
    margin-left: $button-horizontal-margin;
    margin-right: $button-horizontal-margin;
    margin-top: $button-vertical-margin;
    margin-bottom: $button-vertical-margin;
    border-radius: 12px;
}
