@import 'global';

.PageWrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  left: 0;
  bottom: 0;
<<<<<<< HEAD
  height: 100%;
  width: 100%;
=======
>>>>>>> origin/acolhimento
  background-color: $white-background;
}

.Content {
<<<<<<< HEAD
  // display: flex;
  // flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
=======
  height: 100%;
  bottom: 0;
  top: 0;
>>>>>>> origin/acolhimento
  margin-top: $nav-height;
  margin-bottom: $nav-height;
  font-family: $font;
  overflow-x: hidden;
}

.Header {
  position: fixed;
  width: 100%;
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  background-color: $white-background;
  font-family: $font;
  font-weight: bold;
  font-size: 10px;
  color: $blue;
}

.Navbar {
  max-width: 100%;
  max-height: $nav-height;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  
  background-color: $white-background;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  z-index: auto;

}

.IconBox {
  display: block;
  float: left;
  font-size: large;
}
